In [1]:
import pandas as pd

d1 = pd.read_csv('biomarker.csv')
d2 = pd.read_csv('mast.csv')
d3 = pd.read_csv('surveys.csv')

d2 = d2[['Idind','GENDER']]
d3 = d3[(d3.wave == 2009)&(d3.age >=20)&(d3.age<=80)][['Idind','age']]
d4 = d2.merge(d3,on='Idind')
d4.rename({'Idind': 'IDind'}, axis=1, inplace=True)
df = d4.merge(d1,on='IDind')
df .rename({'IDind': 'ID','age':'AGE'}, axis=1, inplace=True)

In [2]:
df.columns

Index(['ID', 'GENDER', 'AGE', 'UREA', 'UA', 'APO_A', 'LP_A', 'HS_CRP', 'CRE',
       'HDL_C', 'LDL_C', 'APO_B', 'MG', 'FET', 'INS', 'HGB', 'WBC', 'RBC',
       'PLT', 'Glu_field', 'Y48_2', 'Y48_3', 'Y48_4', 'Y48_5', 'Y48_6',
       'HbA1c', 'TP', 'ALB', 'GLUCOSE', 'TG', 'TC', 'ALT', 'TRF', 'TRF_R',
       'CRE_MG', 'UA_MG', 'UREA_MG', 'MG_MG', 'TC_MG', 'Y48_5MG', 'TG_MG',
       'Y48_6MG', 'HDL_C_MG', 'LDL_C_MG', 'Glu_field_MG', 'GLUCOSE_MG',
       'APO_A_MG', 'APO_B_MG', 'TRF_MG', 'Y46_1DL', 'wave'],
      dtype='object')

In [3]:
df = df[['ID', 'GENDER', 'AGE', 'UREA', 'UA', 'APO_A', 'LP_A', 'HS_CRP', 'CRE',
       'HDL_C', 'LDL_C', 'APO_B', 'MG', 'FET', 'INS', 'HGB', 'WBC', 'RBC',
       'PLT','HbA1c', 'TP', 'ALB', 'GLUCOSE', 'TG', 'TC', 'ALT', 
       'TRF', 'TRF_R', 'Y46_1DL', 'wave']]

In [4]:
df

,ID,GENDER,AGE,UREA,UA,APO_A,LP_A,HS_CRP,CRE,HDL_C,...,TP,ALB,GLUCOSE,TG,TC,ALT,TRF,TRF_R,Y46_1DL,wave
0,211101003002,2,58.0,7.24,452.0,1.95,344.0,1.0,83.0,1.15,...,79.2,51.8,5.184,3.13,6.40,28.0,231.0,0.567,14.2,2009
1,211101010001,2,69.0,6.06,200.0,1.79,400.0,1.0,71.0,1.40,...,75.6,45.4,5.301,1.24,5.65,10.0,248.0,0.879,15.2,2009
2,211101012001,1,61.0,7.31,339.0,1.35,10.0,1.0,100.0,0.98,...,84.1,46.5,4.491,0.94,4.03,15.0,220.0,2.190,16.6,2009
3,211101012002,2,56.0,5.92,366.0,1.63,215.0,3.0,75.0,0.84,...,79.8,48.6,5.994,3.16,5.27,11.0,266.0,NaN,13.4,2009
4,211101013002,2,66.0,5.53,279.0,2.39,77.0,2.0,70.0,1.68,...,79.3,47.1,4.563,1.26,4.86,8.0,284.0,1.140,12.4,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8447,522404101002,2,30.0,6.33,296.0,1.17,560.0,1.0,81.0,1.86,...,83.1,49.5,4.650,0.53,4.33,21.0,298.0,1.990,14.0,2009
8448,522404102002,2,30.0,6.96,265.0,0.97,80.0,0.0,92.0,1.58,...,71.5,44.6,3.230,0.96,3.33,20.0,236.0,1.360,14.0,2009
8449,522404121001,1,38.0,5.47,460.0,1.07,9.0,1.0,92.0,1.26,...,77.0,49.2,4.300,3.36,4.22,47.0,376.0,1.410,17.0,2009
8450,522404121002,2,36.0,4.63,236.0,0.96,30.0,0.0,80.0,1.35,...,85.3,50.0,4.800,1.28,4.52,16.0,290.0,1.510,13.8,2009
8451,522404122001,1,34.0,5.09,306.0,1.12,202.0,1.0,98.0,1.51,...,68.1,46.0,4.810,1.47,4.09,27.0,308.0,1.970,17.9,2009

In [5]:
#df.shape

In [6]:
#df.to_csv('reduced_merge.csv',index=None)

In [5]:
from pycaret.regression import *
reg = setup(df,target='AGE',ignore_features=['ID','wave'],
           normalize=True,normalize_method='minmax',
           ignore_low_variance=True,remove_multicollinearity=True, 
           session_id=123 
           )

In [8]:
#The get_config('X') function returns the features dataset after the pre-processing pipeline has been applied to it

get_config('X')

,UREA,UA,APO_A,LP_A,HS_CRP,CRE,HDL_C,LDL_C,APO_B,MG,...,HbA1c,TP,ALB,GLUCOSE,TG,TC,ALT,TRF,TRF_R,GENDER_2
0,0.216704,0.239421,0.159247,0.049164,0.002,0.047431,0.059668,0.251191,0.452308,0.178117,...,0.161538,0.574553,0.545882,0.112291,0.132058,0.437092,0.071053,0.352987,0.030990,1.0
1,0.172310,0.099109,0.145548,0.057167,0.002,0.035573,0.078550,0.239619,0.375385,0.145038,...,0.176923,0.502982,0.395294,0.118043,0.043864,0.367195,0.023684,0.379946,0.053167,1.0
2,0.219338,0.176503,0.107877,0.001429,0.002,0.064229,0.046828,0.179714,0.289231,0.162850,...,0.146154,0.671968,0.421176,0.078220,0.029865,0.216216,0.036842,0.335543,0.146350,0.0
3,0.167043,0.191537,0.131849,0.030727,0.006,0.039526,0.036254,0.174949,0.366154,0.180662,...,0.184615,0.586481,0.470588,0.152114,0.133458,0.331780,0.026316,0.408490,0.095470,1.0
4,0.152370,0.143096,0.196918,0.011005,0.004,0.034585,0.099698,0.174268,0.273846,0.167939,...,0.195225,0.576541,0.435294,0.081760,0.044797,0.293569,0.018421,0.437035,0.071718,1.0

In [8]:
best = compare_models()

In [8]:
cat = create_model('catboost')

In [9]:
#predict_model(best,df).reset_index(drop=True).to_stata('retrain_pred.dta',write_index=False)

In [11]:
predict_model(best,df).reset_index(drop=True)[['AGE','Label']]

       AGE      Label
0     58.0  56.764121
1     69.0  54.208162
2     61.0  54.790541
3     56.0  55.172719
4     66.0  53.742757
...    ...        ...
8447  30.0  38.945572
8448  30.0  37.781891
8449  38.0  40.881418
8450  36.0  42.699633
8451  34.0  48.249631

[8452 rows x 2 columns]

# Stack

In [9]:
top7 = compare_models(n_select = 7)
lr = create_model('lr')
stacked_models = stack_models(estimator_list = top7[1:], meta_model = lr)

In [10]:
predict_model(stacked_models,df)[['AGE','Label']]

       AGE      Label
0     58.0  56.909307
1     69.0  64.657338
2     61.0  59.945690
3     56.0  57.475637
4     66.0  48.806975
...    ...        ...
8447  30.0  32.121698
8448  30.0  31.417891
8449  38.0  37.723682
8450  36.0  36.747197
8451  34.0  39.588632

[8452 rows x 2 columns]